name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'
      
      - name: Check NPM_TOKEN presence
        run: '[ -n "$NPM_TOKEN" ] && echo "NPM_TOKEN is set" || echo "NPM_TOKEN is NOT set"'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Try manual npm publish (dry run)
        run: npm publish --dry-run --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Semantic Release
        run: npx semantic-release --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

permissions:
  contents: write
  issues: write
  pull-requests: write 